<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>测试选项-上线前删除</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>是否异步读取最近会话</string>
			<key>Key</key>
			<string>tester_recent_session_most_enable</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>使用1-5握手协议</string>
			<key>Key</key>
			<string>nim_enable_negotiate_transport</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>nim_asym_crypto_type</string>
			<key>Title</key>
			<string>新握手协议非对称加密</string>
			<key>Titles</key>
			<array>
				<string>RSA</string>
				<string>SM2</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>nim_rsa_padding_mode</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Title</key>
			<string>RSA Padding 算法</string>
			<key>Titles</key>
			<array>
				<string>PKCS1</string>
				<string>OAEPWithSHA_1AndMGF1 (1-5握手)</string>
				<string>OAEPWithSHA_256AndMGF1 (1-5握手)</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>nim_sym_crypto_type</string>
			<key>Title</key>
			<string>新握手协议对称加密</string>
			<key>Titles</key>
			<array>
				<string>RC4</string>
				<string>AES</string>
				<string>SM4</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Title</key>
			<string>测试Link地址</string>
			<key>Key</key>
			<string>nim_test_link_url</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>nim_link_address_type</string>
			<key>Title</key>
			<string>lbs返回link地址类型</string>
			<key>Titles</key>
			<array>
				<string>仅Ipv4</string>
				<string>仅Ipv6</string>
				<string>双栈(Ipv4和Ipv6)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>ignore_team_types</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>需要忽略的群通知 (示范用)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>independent_chatroom_accid</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>独立聊天室Accid</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>independent_chatroom_password</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>独立聊天室密码</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://imtest.netease.im/safe/vEN3XXjCAcQqHOoAAAAAAAAAAAA?_im_url=1</string>
			<key>Key</key>
			<string>independent_chatroom_avatar_url</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>独立聊天室头像</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>独立聊天室昵称</string>
			<key>Key</key>
			<string>independent_chatroom_nick</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>独立聊天室昵称</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>a24e6c8a956a128bd50bdffe69b405ff</string>
			<key>Key</key>
			<string>independent_chatroom_appkey</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>独立聊天室AppKey</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>custom</string>
			<key>Key</key>
			<string>custom_apns_content_type</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>自定义推送类型</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://nim-nosdn.netease.im/MTAxMTAxMA==/bmltYV8yNTE2NTgwOV8xNTcxOTIwNjM2OTAzX2MyZjRiMjc1LWQwODMtNDNkMy1iODI4LTc3MjMyMzFmOTA5Mg==</string>
			<key>Key</key>
			<string>faked_video_url</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>测试视频消息为三方视频URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>是否开启视频地址置换</string>
			<key>Key</key>
			<string>fake_video_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://imtest4.netease.im/test</string>
			<key>Key</key>
			<string>ipv4_default_link</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>IPv4默认Link地址</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://imtest6.netease.im:8010/</string>
			<key>Key</key>
			<string>ipv6_default_link</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>IPv6默认Link地址</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>-1</integer>
			<key>Key</key>
			<string>ignore_message_type</string>
			<key>Title</key>
			<string>接收端忽略消息类型</string>
			<key>Titles</key>
			<array>
				<string>无</string>
				<string>文本</string>
				<string>图片</string>
				<string>声音</string>
				<string>视频</string>
				<string>位置</string>
				<string>通知</string>
				<string>文件</string>
				<string>提醒</string>
				<string>自定义</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>10</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>菜单删除本地、服务端消息</string>
			<key>Key</key>
			<string>menu_delete_msg_from_server</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>菜单删除数据库消息</string>
			<key>Key</key>
			<string>menu_delete_msg_from_db</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>回复详情-云端拉取</string>
			<key>Key</key>
			<string>enable_thread_cloud_pull</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>同步置顶会话</string>
			<key>Key</key>
			<string>enable_sync_stick_top_session</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>custom_client_type</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>自定义登录设备类型</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>开启撤回通知附言</string>
			<key>Key</key>
			<string>enable_revoke_msg_ps</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Title</key>
			<string>测试Message的env环境</string>
			<key>Key</key>
			<string>nim_test_msg_env</string>
		</dict>
	</array>
</dict>
</plist>
