<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104650282770-ec2gjom5fi66srkdshe98270qan53p84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104650282770-ec2gjom5fi66srkdshe98270qan53p84</string>
	<key>API_KEY</key>
	<string>AIzaSyDqmlNMjKCenZ1CMPxfD31Tb_oECts9IWU</string>
	<key>GCM_SENDER_ID</key>
	<string>104650282770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netease.NIM.demo</string>
	<key>PROJECT_ID</key>
	<string>nim-sdk-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>nim-sdk-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104650282770:ios:9921d6326aa19bf98405cb</string>
</dict>
</plist>